<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>asd</title>
</head>
<body>

	<style type="text/css">
		.box {
			max-width: 500px;
			display: grid;
			grid-template-columns: 1fr 3fr 1fr 1fr 1fr;
			align-items: center;
		}

		.box button {
			background: red;
			color: white;
			border-radius: 5px;
			font-weight: bold;
		}

		.box img {
			max-width: 50px;
		}

		.pedidos {
			max-width: 800px;
			display: grid;
			grid-template-columns: repeat(6, 1fr);
		}

	</style>


	{% if d!=0 %}

		{% for articulo in articulos %}
		<div class="box">
			<div><img src="../static/media/productos/{{articulo[0]}}"></div>
			<div>{{articulo[1]}}</div>
			<div>(-) {{articulo[2]}} (+)</div>
			<div>{{articulo[3]}}</div>
			<div>
				<form action="/carrito_delete/{{articulo[4][0]}}">
					<button type="submit">X</button>
				</form>
			</div>
		</div>
		{% endfor %}

		<div>PRECIO FINAL: {{totalfinal}}</div>

		<div><button>FINALIZAR COMPRA</button></div>
		<div><a href="/"><button>SEGUIR COMPRANDO</button></a></div>
	{% else %}

		<div>SU CARRITO ESTA VACIOO</div>
		<div><a href="/"><button>SEGUIR COMPRANDO</button></a></div>

	{% endif %}

	

</div>

</body>
</html>