    <div class="productos-grid">
    {%for item in items %}
    <div class="producto {{item.categoria}}">
      {% if item.stock == 0%}
      <div class="sin-stock">
        <div class="sin-stock-tag">Sin Stock</div>
      </div>
      {% endif %}
      <div class="img-container">
        <img class="img" src="../static/media/productos/{{item.imagen}}">
        {% if item.oferta!=0 %}
        <div class="descuento">
          <span>{{item.oferta}}</span>
          <span class="off">OFF</span>
        </div>
        {% endif %}
      </div>

      <div class="info">
        <div class="titulo">{{item.nombre}}</div>
        <div class="precio">
          {% if item.oferta ==0 %}
          <span>${{item.precio}}</span>
          {% else %}
          <span class="precioanterior">${{item.precio}}</span>
          <span>${{item.precioFinal}}</span>      
          {% endif %}
        </div>
        <div class="cantidades">
          <button class="botoncantidadmenos"><i class="bi bi-dash"></i></button>
          <input class="cantidad" type="text" id="{{item.id}}" name="cantidad">
          <button class="botoncantidadmas"><i class="bi bi-plus"></i></button>
        </div>
        <div class="agregar">
          {% if item.stock ==0 %}
          <button class="boton-agregar">AGREGAR</button>
          {% else %}
          <button class="boton-agregar">AGREGAR</button>
          {% endif %}
        </div>
      </div>
    </div>
    {%endfor%}
    </div>