<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>test</title>

  <!-- CSS PROPIO -->
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='admin.css') }}">

  <!-- CSS CDN'S -->
  <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.0/font/bootstrap-icons.css">  
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.25/css/jquery.dataTables.min.css">
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/responsive/2.2.9/css/responsive.dataTables.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/css/bootstrap-select.min.css">
  

</head>
<body>
    <div class="cotenedor-barra">
    	<div class="nav-admin">
    		<div>
				<a href="/"><i class="bi bi-house-fill" style="color:white; font-size: 20px;"></i></a>
			</div>

    		<div>
				<a href="/panel/pedidos">PEDIDOS</a>
			</div>

    		<div>
				<a href="/panel">PRODUCTOS</a>
			</div>
			
			<div>
				<a href="/panel/combos">COMBOS</a>
			</div>

			<div>
				<a href="/panel/choferes">CHOFERES</a>
			</div>
		</div>
    </div>

  <main>{% block content %}{% endblock content %}</main>



<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/js/bootstrap-select.min.js"></script>
  

<script type="text/javascript">

  $(window).scroll(function() {
    sessionStorage.scrollTop = $(this).scrollTop();
  });

  $(document).ready(function() {
    if (sessionStorage.scrollTop != "undefined") {
      $(window).scrollTop(sessionStorage.scrollTop);
    }
  }); 
</script>

</body>
</html>