<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>test</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.25/css/jquery.dataTables.min.css">
	<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/responsive/2.2.9/css/responsive.dataTables.min.css">
</head>
<body>

<style type="text/css">
	
	.datos {
		display: flex;
		flex-direction: column;
	}

</style>
	<table id="pedidos" hidden="hidden" class="display" style="width:100%;">
        <thead>
            <tr>
            	<th></th>
                <th>Datos</th>
                <th>Productos</th>
                <th>Hora Pedido</th>
                <th>Estado</th>
                <th>Pago</th>
                <th>Chofer</th>
                <th>Comentarios</th>
                <th>Aceptar</th>
            </tr>
        </thead>
        <tbody>
        	{%for i in data %}
           <tr>
           	<td></td>

           	<td>
           		<div class="datos">
           			<span>ID: {{i.id}}</span>
           			<span>{{i.nombre}}</span>
           			<span>{{i.telefono}}</span>
           			<span>{{i.email}}</span>
           			<span>{{i.direccion}}</span>
           		</div>
           	</td>

           	<td>
           		<div class="productos">
           			{%  for j in info[i.id] %}
           			<div>
           			  {{ j.cantidad }}
           			  {{productos[j.id | int].nombre}}
           			 </div>
           			{% endfor %}
           		</div>
           	</td>

           	<td>
           		{{i.fechaHoraPedido[:16]}}
           	</td>

           	<td>
           		<span hidden="hidden">{{i.estado}}</span>
           		<form>
           		<select>
           			<option type="text" value="{{i.estado}}">{{i.estado}}</option>
           			<option>Enviando</option>
           			<option>Entregado</option>
           			<option>Cancelado</option>
           		</select>
           		</form>
           	</td>

           	<td>
           		<div>Medio de Pago: {{i.formaPago}}</div>
           		<div>Total: ${{total[i.id]}}</div>
           		<div>Estado: En espera</div>
           	</td>

           	<td>
           		{{i.chofer}}
           	</td>

           	<td>
           		{{i.descripcion}}
           	</td>
           	<td>
           		<a target="_blank" href="whatsapp://send?phone={{i.telefono}}&text=Hola%20{{i.nombre}}%20recibimos tu pedido ID: {{i.id}}."><button>aceptar</button></a>
           		<a target="_blank" href="whatsapp://send?phone=5492235062720&text=Hola%20{{i.nombre}}%20por x razon no podemos concretar tu compra."><button>rechazar</button></a>
           	</td>
           </tr>
           {% endfor %}
        </tbody>
    </table>
</div>


<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"></script>
<script src="//cdn.datatables.net/responsive/2.2.9/js/dataTables.responsive.js"></script>

<script>
    if ( window.history.replaceState ) {
        window.history.replaceState( null, null, window.location.href );
    }
</script>

<script type="text/javascript">
	$(document).ready(function() {
    $('#pedidos').DataTable({
    	responsive: true,
		bProcessing: true,
		stateSave: true,
		stateDuration: 60,
		columnDefs: [
		{orderable: false, targets: [0]}
		],
		language: {
			search: 'Buscar:',
			zeroRecords: 'No se encontraron registros.',
			lengthMenu: "Mostrar _MENU_ registros",
			infoEmpty: "Mostrando registros del 0 al 0 de un total de 0 registros",
    		infoFiltered: "(filtrado de un total de _MAX_ registros)",
    		info: "Mostrando de _START_ a _END_ de _TOTAL_ registros",
			paginate: {
		        first: "Primero",
		        last: "Último",
		        next: "Siguiente",
		        previous: "Anterior"
		    },
		},

		"initComplete": function(settings, json) {
     $('#pedidos').show();
     }

    });

	

} );
</script>

</body>
</html>