@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

body,html {
      margin: 0;
      min-height: 1vh;
      font-family: "Poppins" , sans-serif;
      background: rgb(220,220,220);
    }

    .container{
      width: 100%;
      height: auto;
      position: fixed;
      z-index: 2000;
    }

    .nav-up-container {
      width: 100%;
      height: 50px;
      position: fixed;
      background: #88304E;
      display: flex;
      justify-content: center;
      top: 0;
    }

    .nav-up {
      margin: auto;
      width: 100%;
      height: 50px;
      background: #88304E;
      display: grid;
      grid-template-columns: 1fr 3fr 1fr;
      text-align: center;
      align-items: center;
      color: white;
      font-weight: bold;
      max-width: 1400px;
      position: fixed;
      top:  0;
    }  

    .nav-up .logo {
      font-size: 22px;
    }


    .nav-up .carrito .menu {
      display: none;
    }

    .nav-down {
      margin: auto;
      margin-top: 50px;
      display: grid;
      grid-template-columns: repeat(10,1fr);
      background: #522546;
      width: 100%;
      height: auto;
      min-height: 50px;
      text-align: center;
      align-items: center;
      position: fixed;
    }

    .mostrar {
      display: grid !important;
    }

    .nav-down object {
      max-height: 25px;
      max-width: 25px;
      padding: 3px;
      pointer-events: none;
    }

    .nav-down a {
      text-decoration: none;
      color: white;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 15px;
      padding: 3px;
    }

    .nav-down a:hover, .bi-cart-plus-fill:hover {
      color: #E23E57;
      font-weight: bold;
      transition: all .25s;
    }

    .bi-cart-plus-fill{
      color: white;
      font-size: 22px;
    }

    .carrito a {
      text-decoration: none;
      color: white;
      font-weight: normal;
    }

    .bx-menu {
      font-size: 35px;
    }

    .bx-x-circle {
      font-size: 30px;
    }

    .busqueda{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .busqueda .input {
        max-width: 500px;
        width: 90%;
        border: none;
        border-radius: 2px;
        height: 35px;
        padding: 5px;
    }

    .busqueda:hover > .searchbtn{
        background: #E23E57;
    }

    .searchbtn {
        background: #88304E;
        width: 35px;
        border-radius: 2px;
        position: relative;
        cursor: pointer;
        height: 27px;
        margin-left: -40px;
        z-index: 100;
    }

    .searchbtn .fas{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 16px;
    }

    @media only screen and (max-width: 1200px) {
      .nav-down {
        grid-template-columns: repeat(5, 1fr);
      }

      .productos-grid {
        padding-top: 130px !important;
      }

      .mostrar-carrito {
        margin-top: 124px !important;
      }
    }


    @media only screen and (max-width: 650px) {

      .productos-grid {
        padding-top: 50px !important;
      }

      .nav-up .carrito {
        display: grid;
        grid-template-columns: 1fr 1fr;
      }

      .nav-down {
        grid-template-columns: 1fr 1fr;
        height: auto;
        display: none;
      }

      .nav-down div {
        padding: 7.5px;
      }

      .nav-down a {
        justify-content: left;
      }

      .nav-up .carrito .menu, .carrito {
        display: flex;
        align-items: center;
        justify-content: center;
      }

      .mostrar-carrito {
        margin-top: 50px !important;
        border: 3px solid #88304E;
        border-bottom-right-radius: 5px;
      }

      .box {
        grid-template-columns: 1fr 3fr 3fr !important;
        align-items: center;
        justify-content: center;
      }

      .box form {
        width: 50px;
      }

      .box div {
        padding: 2px;
      }

      .box .img-carrito {
        grid-row: 1 / 3;
      }

    }


  .productos-grid {
    display: grid;
    grid-template-columns: repeat( auto-fill, minmax(250px,1fr));
    max-width: 1000px;
    margin: auto;
    padding-top: 105px;
    z-index: -1;
  }

  .producto {
    background-color: white;
    margin: 5px;
    border-radius: 3px;
    position: relative;
  }
  .producto:hover {
    -webkit-box-shadow: 0 0 10px #888;
        box-shadow: 0 0 10px #888;
        transition: 0.2s;
  }

  .productos-grid .img {
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
  }

  .img-container {
    position:  relative;
  }

  .info {
    height: 150px;
  }

  .titulo {
    border-top: 1px solid #EBEBEB;
    padding: 2.5px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 42.8px;
    font-size: 15px;
    color: gray;
  }


  .precio {
    font-weight: bold;
    color: black;
    padding: 2.5px;
    text-align: center;
  }

  .agregar {
    text-align: center;
    padding: 2.5px;
    margin-top: 3px;
  }

  .cantidad {
    width: 50px;
    height: 24px;
  }
  .botoncantidadmas {
    width: 30px;
    height: 30px;
    background-color: #88304E;
    border-radius: 2px;
    color: white;
    font-weight: bold;
    border: none;
    cursor: pointer;
    color: white;
    font-size: 20px;
    padding: 4px;
  }

  .botones-cantidad {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
  }

  .botones-cantidad input {
    margin-right: 5px;
    margin-left: 5px;
  }

  .botoncantidadmenos{
    width: 30px;
    height: 30px;
    background-color: #88304E;
    border-radius: 2px;
    color: white;
    font-weight: bolder;
    border: none;
    cursor: pointer;
    color: white;
    font-size: 20px;
    padding: 4px;
  }
  .boton-agregar {
    background-color: #522546;
    border-radius: 2px;
    border: none;
    color: white;
    height: 30px;
    font-weight: bold;
    cursor: pointer;
  }
  .cantidades {
    text-align: center;
  }

  .botoncantidadmas:hover, 
  .botoncantidadmenos:hover {
     background-color: #E23E57;
     transition: 0.5s;
  }
  .boton-agregar:hover {
    -webkit-box-shadow: 0 0 10px #888;
    box-shadow: 0 0 10px #888;
    background-color: #E23E57;
    transition: 0.4s;
  }
  .precioanterior {
    color: rgba(0, 0, 0, 0.5);
    text-decoration: line-through;
    font-size: 14px;
  }
  .descuento {
    max-width: 22px;
    text-align: center;
    color: rgb(0,166,80);
    font-weight: bold;
    position: absolute;
    font-size: 20px;
    top: 5px;
    right: 5px;
    padding-left: 5px;
    padding-right: 5px;
    border: 3px solid rgb(0,166,80);
    border-radius: 2px;
    background-color: rgba(255, 255, 255, 0.6);
  }
  .off {
    font-size: 12px;
    font-weight: normal;
  }

  .sin-stock {
    filter: alpha(opacity = 0);
    position:absolute;
    display:block;
    z-index:20;
    background-color:rgba(0, 0, 0, 0.25);
    width: 100%;
    height: 100%;
    border-radius: 2px;
    justify-content: center;
    display: flex;
    align-items: center;
  }

  .sin-stock-tag {
    background-color:rgba(0, 0, 0, 0.5);
    color: white;
    width: 80px; 
    height: 30px;
    border: 1px solid white;
    border-radius: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  footer {
    background: #88304E;
    height: 150px;
    width: 100%;
    max-width: 1050px;
    margin: auto;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
  }

  @media (max-width: 550px) {
    .productos-grid {
      grid-template-columns: 1fr 1fr;
      gap: 0px;
      padding-top: 95px;
    }
    .producto {
      margin: 1px 1px 0px 1px;
      border-radius: 0px;
    }

    .img {
      border-radius: 0px;
    }
    .sin-stock {
    border-radius: 0px;
    }
  }

  .cantidades {
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
  }


input[type="number"] {
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
  appearance: textfield;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
}

.number-input {
    display: inline-flex;
    margin-bottom: 3px;
}

.number-input,
.number-input * {

}

.number-input input {
  height: 25px;
}

.number-input button {
    outline:none;
    -webkit-appearance: none;
    background-color: #88304E;
    border: none;
    align-items: center;
    justify-content: center;
    width: 32px;
    cursor: pointer;
    margin: 0;
    position: relative;
    padding:0;
}

.number-input button:before,
.number-input button:after {
    display: inline-block;
    position: absolute;
    content: '';
    width: 0.5rem;
    height: 2px;
    background-color: white;
    transform: translate(-50%, -50%);
}
.number-input button.plus:after {
    transform: translate(-50%, -50%) rotate(90deg);
}

.number-input input[type=number] {
    font-family: sans-serif;
    max-width: 3rem;
    padding: 1px;
    border:0;
    text-align: center;
    outline:none;
}
.number-input{
    border: 2px solid #522546;
    border-radius: 2px;
}

.boton-actualizar {
  width: 30px;
  height: 27px;
  margin-bottom: 3px;
  font-weight: bold;
  text-align: center;
  background-color: #88304E;
  color: white;
  border: none;
  padding: 0px;
  font-size: 16px;
}

.boton-actualizar i {
  margin-top: 2px;
}

.box form {
  display: flex;
  align-items: center;
}

.box {
      max-width: 500px;
      display: grid;
      grid-template-columns: 1fr 3fr 3fr 1fr 1fr;
      align-items: center;
    }

    .box .elimina-carrito button {
      background: red;
      color: white;
      border-radius: 5px;
      font-weight: bold;
      width: 30px;
    }

    .box img {
      max-width: 50px;
      align-items: center;
    }

    .box-container {
      overflow-y: scroll;
      max-height: 500px;
    }

    .cerrar-precio {
      bottom: 0;
      padding: 5px;
      width: 100%;
      border-top: 1px solid #88304E;
    }

    .mostrar-carrito {
      position: fixed;
      top: 0;
      right: 0;
      z-index: 1000;
      margin-top: 100px;
      background: #522546;
      padding: 10px;
      color: white;
      border-left: 3px solid #88304E;
      border-bottom: 3px solid #88304E;
      border-bottom-left-radius: 5px;
      display: none;

    }

    .elimina-carrito form {
      text-align: center;
      display: grid;
      grid-template-columns: 1fr;
      width: 50%;
      justify-content: center;
      margin: auto;
    }
    .mostrar-carrito .boton-agregar {
      width: 15px;
    }

    main {
      min-height: 100vh;
      margin-bottom: 10px;
    }

    /* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #522546; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #E23E57;
}